<% for(let i=0; i<editors; i++) { %>
  <form action='/<%= snippets[i].id %>' method='POST'>
  <h1><%= snippets[i].title %></h1>
  <div class='editor'>
    <textarea name='code' class='<%= snippets[i].language %> snippet' id="<%= snippets[i].id %>" rows="8" cols="40"><%= snippets[i].code %></textarea>
  </div>

    <input type="submit" value="Submit"></input>
  </form>
<% } %>
