<% for(let i=0; i<snippets.snippets.length; i++) { %>
  <div class="card card-snippet">
    <form action='/<%= snippets.snippets[i].id %>' method='POST'>
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <span class='snippet-title'><a href="/snip/view/<%= snippets.snippets[i]['_id'] %>"><%= snippets.snippets[i].title %></a></span>
          </div>
          <div class="col-4 flush-right">
            <span class='snippet-owner'><% if(snippets.snippets[i].owner) { %>
                <%= snippets.snippets[i].owner %>
              <% } else { %>
                Anonymous User
              <% } %>
            </span>
          </div>
        </div>

        <p class='flush-right snippet-created'>
          <span class='small-italics'>Created: <%= snippets.snippets[i].created %></span>
        </p>

        <% if( snippets.snippets[i].modified ) { %>
          <p class='snippet-modified flush-right'>
            <span class='small-italics'>Modified: <%= snippets.snippets[i].modified %></span>
          </p>
        <% } %>

        <p class='snippet-tags flush-right'>
          <% if(snippets.snippets[i].tags) { %>
              <span class='small-italics'>Tags: <%= snippets.snippets[i].tags %></span>
            <% } %>
        </p>

        <% if( snippets.snippets[i].owner === username ) { %>
          <a href="/snip/edit/<%= snippets.snippets[i]['_id'] %>"><button type="button" class="btn btn-primary btn-sm">Edit Snip</button></a>
          <a href="/snip/delete/<%= snippets.snippets[i]['_id'] %>"><button type="button" class="btn btn-primary btn-sm">Delete Snip</button></a>
        <% } %>
      </div>

      <div class="card-body">
        <div class='editor'>
          <textarea name='code' class='<%= snippets.snippets[i].language %> snippet' id="<%= snippets.snippets[i].id %>" rows="8" cols="40"><%= snippets.snippets[i].code %></textarea>
        </div>
      </div>
    </form>
  </div>
<% } %>
