<% for(let i=0; i<snippets.editors; i++) { %>
  <div class="card">
    <form action='/<%= snippets.snippets[i].id %>' method='POST'>
      <div class="card-header">
        <h6><%= snippets.snippets[i].title %></h6>
        <p><% if(snippets.snippets[i].owner) { %>
            <%= snippets.snippets[i].owner %>
          <% } else { %>
            Anonymous User
          <% } %>
          </p>
        <p>
          <% if(snippets.snippets[i].tags) { %>
              <%= snippets.snippets[i].tags %>
            <% } %>
        </p>
      </div>
      <div class="card-body">
        <div class='editor'>
          <textarea name='code' class='<%= snippets.snippets[i].language %> snippet' id="<%= snippets.snippets[i].id %>" rows="8" cols="40"><%= snippets.snippets[i].code %></textarea>
        </div>
      </div>
    </form>
  </div>
<% } %>
